.center-div {
    width: 50%; /* Set the width of the div */
    margin: 0 auto; /* This centers the div horizontally */
  }

.left-div {
    width: 40%; /* Set the width of the div */
    margin: 0; /* This centers the div horizontally */
  }

.right-div {
    width: 40%; /* Set the width of the div */
    margin: 0; /* This centers the div horizontally */
  } 